#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  background-image: url(/public/noise3.png);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*~~~~~~~~~~Skills~~~~~~~~~~*/
.skills {
  background-color: #555;
  border: 1px solid #000;
  border-radius: 5px;
  height: 220px;
  display: grid;
  align-items: center;
  grid-template: 100px 100px 100px / 1fr 1fr 1fr;
  grid-column: span 6;
  gap: 20px;
  justify-items: center;
  padding: 15px;
  width: 50%;
  background-image: url(/public/noise4.png);
}

.skills-logos {
  width: 8vw;
}

/*~~~~~~~~~~About~~~~~~~~~~*/
.about {
  background-color: #555;
  border: 1px solid #000;
  border-radius: 5px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: justify;
  max-width: 50%;
  background-image: url(/public/noise4.png);
}

.about-p {
  font-size: 1.3vw;
  max-width: 90%;
  padding: 15px;
}

/*~~~~~~~~~~Footer~~~~~~~~~~*/
.footer {
  background-color: #555;
  border: 1px solid #000;
  border-radius: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  width: 50%;
  background-image: url(/public/noise4.png);
}

.footer-logos {
  width: 8vw;
}
